@import '../../scss/variables';

:host {
    border: $ttt-border;
    height: $ttt-grid-xl-size;

    // Animation for winner fields
    &.blink {
        animation: blink 1s linear 3;
    }
    @keyframes blink {
        25% {
            opacity: 0.5;
        }

        50% {
            opacity: 0.25;
        }

        75% {
            opacity: 0.5;
        }
    }

    button {
        width: 100%;
        height: 100%;
        font-size: 5em !important;
    
        &:hover {
            cursor: pointer;
        }
    }

    // Disable field action in case the game is finished
    &.finished {
        pointer-events: none;
        button {
            cursor: none;
        }
    }
}

@media screen and (max-width: $ttt-breakpoint-sm-width) {
    :host {
        height: $ttt-grid-sm-size;
    }
}

@media screen and (max-width: $ttt-breakpoint-xs-width) {
    :host {
        height: $ttt-grid-xs-size;
    }
}